<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'course/css/style.css' %}">
	<script src="{% static 'course/js/script.js' %}" defer></script>
	<title>{{name}}</title>
</head>
<body>

	<img src="{% static 'course/images/django.png' %}" alt="django">
	<h3>{{name|capfirst}}</h3>
	<p>{{description}}</p>
	<button onclick="disp()">enroll</button>
	<small>{{date|date:'SHORT_DATE_FORMAT'}}</small>

</body>
</html>