{% extends 'core/base.html' %}

{% block page_title %} Generate QR {% endblock page_title %}

{% block main %}

	<div class="row">
    	<div class="col-md-6 offset-md-3">
    		<h3 class="mb-3">Generate QR Code</h3>
			{% if error %}
				<p class="alert alert-danger">{{error}}</p>
			{% endif %}

			<form action="{% url 'generate' %}" method="post" novalidate class="form-group">
				{% csrf_token %}
				<input type="text" class="form-control mb-3" name="mobile_number" placeholder="Enter 10 digit mobile number" required pattern="\d{10}">
				<input type="text" class="form-control mb-3" name="qr_data" placeholder=" Enter text to generate QR code" required>
				<button type="submit" class="btn btn-primary">Generate</button>
			</form>

			<div class="my-3 text-center">
				{% if qr_image_url %}
					<h3>Your QR code</h3>
					<img src="{{qr_image_url}}" alt="generated qr code">
					<br>
					<a href="{{qr_image_url}}" download class="btn btn-success">Download</a>
				{% endif %}
			</div>
    	</div>
  	</div>

	

{% endblock main %}