{% extends 'core/base.html' %}
{% load static %}
{% block page_script %}
	<script src="{% static 'scanner/js/scan.js' %}" defer></script>
{% endblock page_script %}
{% block page_title %} Scan QR {% endblock page_title %}

{% block main %}
	<div class="row">
    	<div class="col-md-6 offset-md-3">
			<h3 class="mb-3">Scan QR Code</h3>
			{% if error %}
				<p class="alert alert-danger">{{error}}</p>
			{% endif %}

			<form action="{% url 'scan' %}" method="post" novalidate class="form-group" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="text" class="form-control mb-3" name="mobile_number" placeholder="Enter 10 digit mobile number" required pattern="\d{10}">
				<input type="file" class="form-control mb-3" name="qr_image" accept="image/*" id="qr-input">
				<button type="submit" class="btn btn-primary">Scan</button>
			</form>

			<div class="my-3 text-center qr-preview">

				{% if qr_image_url %}
					<img src="{{qr_image_url}}" alt="qr code">
				{% endif %}
				<h4 class="my-3">
					{% if result %}
						{{result}}
					{% endif %}
				</h4>
			</div>
		</div>
  	</div>

{% endblock main %}